<div class="container mt-3">
  <h1>ADD PRODUCT PAGE</h1>
  <form action="/admin/add-product" method="POST" enctype="multipart/form-data">
    <div class="form-group">
      <label for="">name</label>
      <input type="text" class="form-control" placeholder="product name" id="name" name="name">
      <small id="emailHelp" class="form-text text-muted">name of that product</small>
    </div>
    <div class="form-group">
      <label for="">description</label>
      <input type="text" class="form-control" id="description" name="descripiton">
    </div>
    <div class="form-group">
      <label for="">catogary</label>
      <input type="text" class="form-control" id="catogary" name="catogary">
    </div>
    <div class="form-group">
      <label for="">image</label>
      <input type="file" class="form-control" id="image" name="image">
    </div>


    <button type="submit" class="btn btn-primary">ADD</button>
  </form>
</div>